@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: rgba(249, 251, 251, 0.941);
  height: 100vh;
}

.layout {
  display: flex;
  min-height: 100vh; /* Chiều cao tối thiểu bằng với viewport */
}

.sidebar {
  width: 200px; /* Chiều rộng cố định cho sidebar */
  height: 100vh; /* Chiều cao toàn màn hình */
  /* overflow-y: auto;  */
}

.content {
  flex: 1; /* Chiếm lấy phần còn lại của màn hình */
  overflow-y: auto;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ẩn thanh scroll */
.hide-scrollbar .ps__rail-y {
  display: none !important;
}
